[Unit]
Description=Mosquitto client reading UART for Linky and publishing selected items to a local MQTT broker
Requires mosquitto.service
After=network.target
AssertPathExists=/sys/class/net/eth0

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/TeleinfoLinky/mqtt_linky_read_publish.py
Restart=always

[Install]
WantedBy=mosquitto.service
